* {
  box-sizing: border-box;
  font-weight: 300;
  // margin: 0;
  // padding: 0;
}

body {
  background: $bgColour;
}

a,
p,
ol,
ul,
h1,
h4,
h6,
td {
  color: #333;
  text-decoration: none;
}

input {
  border-style: none;
}

button {
  border: none;
  outline: none;
  font-size: inherit;
  cursor: pointer;
}
